include ../../../mixins/page-el/_page-el
include ../../../mixins/award/_award
include ../../../mixins/space/_space
include ../../../mixins/icon-svg/_icon-svg
include ../about-img/_about-img
.about
  +about-img('./assets/img/about-1.png','./assets/img/about-1-min.jpg')
  +page-el('Мастерская')(id='workshop')
    .wysiwyg
      p Архитектурная мастерская «Евгений Герасимов и партнеры» образована в 1991 году. За годы работы коллективом создано более 70 проектов и построек для Санкт-Петербурга, Москвы и других городов России. Эти объекты выполнены в разных стилях и представляют самый широкий спектр типологий – от концептуальных «бумажных» проектов до масштабных градостроительных концепций.
      div#read-more-block.read-more-mobile
        p Порфолио мастерской составляют правительственные комплексы, жилые дома, офисные центры, отели, выставочные, музейные и театральные здания, объекты реставрации и реконструкции. Среди самых заметных работ – эстакада Ушаковской развязки, Еврейский Санкт-Петербургский общинный дом «ЕСОД», гостиница на площади Островского, жилой комплекс «Царская столица», административный и общественно-деловой комплекс «Невская ратуша», концепция Парламентского центра РФ.
        p Многие работы мастерской удостоены престижных архитектурных наград в России и за рубежом.
      a(href='#read-more-block').js-read-more-btn
        span Читать дальше
        +icon('arrow-down','')
  +page-el('Контакты')(id='contacts')
    include ../../contact/_contact
  include ../collective/_collective
  +about-img('./assets/img/about-2.png')(id='awards')
  +page-el('Награды')
    +award('Жилой комплекс «Европа Сити»')
      p Диплом международного фестиваля «Зодчество» в номинации «Архитектурные произведения 2016-2018 г. Постройки. Жилые многоквартирные здания».
    +award('Конгрессно-выставочный комплекс «Экспофорум»')
      p Диплом проекта «Качественная архитектура» 2018 «За творческий вклад в создание качественной российской архитектуры». 
    +award('Проект жилого дома на набережной Мойки')
      p Диплом победителя первого архитектурно-дизайнерского конкурса «Золотой Трезини» в номинации «Лучший проект жилого комплекса премиум- или бизнес-класса» в категории «Архитектура как искусство. 
    a(href='#' data-fancybox="award-list" data-src="#award-list").btn.btn-not-upper.btn-bold Все награды

  +page-el('Сотрудничество')(id='cooperation')
    include ../../partner/_partner
  +page-el('Вакансии')(id='job-openings')
    include ../vacancy/_vacancy
  +page-el('Сайт разработан')
    a(href='#' target='_blank').btn.btn-bold.btn-not-border
      span PRIIIDE.DIGITAL
