include ../../mixins/person/_person
.person-list
  .person-list__row
    .person-list__col
      +person('#','https://via.placeholder.com/204x280','Евгений Герасимов','руководитель мастерской')
    .person-list__col
      +person('#','https://via.placeholder.com/204x280','Зоя Петрова','главный архитектор проектов')
    .person-list__col
      +person('#','https://via.placeholder.com/204x280','Виктор Хиврич','главный архитектор проектов')
    .person-list__col
      +person('#','https://via.placeholder.com/204x280','Карен Смирнов','главный архитектор проектов')
    .person-list__col
      +person('#','https://via.placeholder.com/204x280','Татьяна Комалдинова','главный архитектор проектов')
