include ../../mixins/swiper-item/_swiper-item
include ../../mixins/person/_person
include ../../mixins/icon-svg/_icon-svg
.person-list
  .swiper__wrapper.opacity
    //Slider main container
    .swiper.swiper-container.js-person-list
      //Additional required wrapper
      .swiper-wrapper
        //Slides
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Евгений Герасимов','руководитель мастерской')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Зоя Петрова','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Виктор Хиврич','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Карен Смирнов','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Татьяна Комалдинова','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Зоя Петрова','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Виктор Хиврич','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Карен Смирнов','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Евгений Герасимов','руководитель мастерской')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Зоя Петрова','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Виктор Хиврич','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Карен Смирнов','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Татьяна Комалдинова','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Зоя Петрова','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Виктор Хиврич','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Карен Смирнов','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Евгений Герасимов','руководитель мастерской')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Зоя Петрова','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Виктор Хиврич','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Карен Смирнов','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Татьяна Комалдинова','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Зоя Петрова','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Виктор Хиврич','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Карен Смирнов','главный архитектор проектов')
        .swiper-slide
          .person-list__col-sliedr
            +person('#','https://via.placeholder.com/204x280','Карен Смирнов','главный архитектор проектов')

    //If we need navigation buttons
    .swiper__button
      .swiper__button-left
        .swiper__button-item.swiper__button-item_prev.js-swiper-button-prev
          +icon('arrow-left')
      .swiper__button-right
        .swiper__button-item.swiper__button-item_next.js-swiper-button-next
          +icon('arrow-right')
