.icon-arrow-left {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-fullscreen {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 1em;
  height: 1em;
  fill: initial;
}
