.icon-arrow-down {
  width: 1.75em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1.6em;
  height: 1em;
  fill: initial;
}
.icon-fullscreen {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ig {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1.9em;
  height: 1em;
  fill: initial;
}
