include ../../mixins/page-el/_page-el
include ../../mixins/award/_award
.award-list#award-list
  .award-list__inner
    .container
      h2.title.title_popup Все награды
      +page-el('2019')(class='page-el__row_award')
        +award('За проект: Жилой комплекс «Русский дом»')
          p International Architecture Awards #[br] Финал International Architecture Awards — 2019 
      +page-el('2018')(class='page-el__row_award')
        +award('За проект: Проект жилого комплекса Futurist')
          p Серебряный знак международного фестиваля «Зодчество» #[br] Архитектурные произведения 2016-2018 г. Проекты. Жилые многоквартирные здания.
        +award('За проект: Эскиз застройки территориий заводов «Химволокно» и «Пластполимер»')
          p Бронзовый диплом смотра «Архитектон» #[br] Бронзовый диплом смотра Санкт-Петербургского союза архитекторов России «Архитектон» в номинации «Проекты»  — «Здание или комплекс с преимущественно жилой функцией».
        +award('За проект: Проект жилого дома на набережной Мойки')
          p Диплом победителя конкурса «Золотой Трезини» #[br] Диплом победителя первого архитектурно-дизайнерского конкурса «Золотой Трезини» в номинации «Лучший проект жилого комплекса премиум- или бизнес-класса» в категории «Архитектура как искусство. 
        +award('За проект: Конгрессно-выставочный комплекс «Экспофорум»')
          p Диплом проекта «Качественная архитектура» 2018 #[br] За творческий вклад в создание качественной российской архитектуры. 
      +page-el('2017')(class='page-el__row_award')
        +award('За проект: Проект жилого комплекса Futurist')
          p Серебряный знак международного фестиваля «Зодчество» #[br] Архитектурные произведения 2016-2018 г. Проекты. Жилые многоквартирные здания.
        +award('За проект: Эскиз застройки территориий заводов «Химволокно» и «Пластполимер»')
          p Бронзовый диплом смотра «Архитектон» #[br] Бронзовый диплом смотра Санкт-Петербургского союза архитекторов России «Архитектон» в номинации «Проекты»  — «Здание или комплекс с преимущественно жилой функцией».
        +award('За проект: Проект жилого дома на набережной Мойки')
          p Диплом победителя конкурса «Золотой Трезини» #[br] Диплом победителя первого архитектурно-дизайнерского конкурса «Золотой Трезини» в номинации «Лучший проект жилого комплекса премиум- или бизнес-класса» в категории «Архитектура как искусство. 
        +award('За проект: Конгрессно-выставочный комплекс «Экспофорум»')
          p Диплом проекта «Качественная архитектура» 2018 #[br] За творческий вклад в создание качественной российской архитектуры. 
      +page-el('2016')(class='page-el__row_award')
        +award('За проект: Проект жилого комплекса Futurist')
          p Серебряный знак международного фестиваля «Зодчество» #[br] Архитектурные произведения 2016-2018 г. Проекты. Жилые многоквартирные здания.
        +award('За проект: Эскиз застройки территориий заводов «Химволокно» и «Пластполимер»')
          p Бронзовый диплом смотра «Архитектон» #[br] Бронзовый диплом смотра Санкт-Петербургского союза архитекторов России «Архитектон» в номинации «Проекты»  — «Здание или комплекс с преимущественно жилой функцией».
        +award('За проект: Проект жилого дома на набережной Мойки')
          p Диплом победителя конкурса «Золотой Трезини» #[br] Диплом победителя первого архитектурно-дизайнерского конкурса «Золотой Трезини» в номинации «Лучший проект жилого комплекса премиум- или бизнес-класса» в категории «Архитектура как искусство. 
        +award('За проект: Конгрессно-выставочный комплекс «Экспофорум»')
          p Диплом проекта «Качественная архитектура» 2018 #[br] За творческий вклад в создание качественной российской архитектуры. 
      +page-el('2016')(class='page-el__row_award')
        +award('За проект: Проект жилого комплекса Futurist')
          p Серебряный знак международного фестиваля «Зодчество» #[br] Архитектурные произведения 2016-2018 г. Проекты. Жилые многоквартирные здания.
        +award('За проект: Эскиз застройки территориий заводов «Химволокно» и «Пластполимер»')
          p Бронзовый диплом смотра «Архитектон» #[br] Бронзовый диплом смотра Санкт-Петербургского союза архитекторов России «Архитектон» в номинации «Проекты»  — «Здание или комплекс с преимущественно жилой функцией».
        +award('За проект: Проект жилого дома на набережной Мойки')
          p Диплом победителя конкурса «Золотой Трезини» #[br] Диплом победителя первого архитектурно-дизайнерского конкурса «Золотой Трезини» в номинации «Лучший проект жилого комплекса премиум- или бизнес-класса» в категории «Архитектура как искусство. 
        +award('За проект: Конгрессно-выставочный комплекс «Экспофорум»')
          p Диплом проекта «Качественная архитектура» 2018 #[br] За творческий вклад в создание качественной российской архитектуры. 
      +page-el('2016')(class='page-el__row_award')
        +award('За проект: Проект жилого комплекса Futurist')
          p Серебряный знак международного фестиваля «Зодчество» #[br] Архитектурные произведения 2016-2018 г. Проекты. Жилые многоквартирные здания.
        +award('За проект: Эскиз застройки территориий заводов «Химволокно» и «Пластполимер»')
          p Бронзовый диплом смотра «Архитектон» #[br] Бронзовый диплом смотра Санкт-Петербургского союза архитекторов России «Архитектон» в номинации «Проекты»  — «Здание или комплекс с преимущественно жилой функцией».
        +award('За проект: Проект жилого дома на набережной Мойки')
          p Диплом победителя конкурса «Золотой Трезини» #[br] Диплом победителя первого архитектурно-дизайнерского конкурса «Золотой Трезини» в номинации «Лучший проект жилого комплекса премиум- или бизнес-класса» в категории «Архитектура как искусство. 
        +award('За проект: Конгрессно-выставочный комплекс «Экспофорум»')
          p Диплом проекта «Качественная архитектура» 2018 #[br] За творческий вклад в создание качественной российской архитектуры. 
