mixin contact-item(title)
  .contact__row
    .contact__col-1
      .contact__title=title
    .contact__col-2
      .contact__body
        block
.contact
  .contact__text
    +contact-item('Адрес:')
      a(href='#').btn.btn-only-mobile.btn-not-upper.btn-bold г. Санкт-Петербург, Лесной пр., д. 19, корп. 4
    +contact-item('Телефон:')
      | +7 (812) 600-90-60
    +contact-item('Факс:')
      | +7 (812) 600-90-61
    +contact-item('E-mail:')
      a(href='mailto:public@egp.spb.ru') public@egp.spb.ru
    +contact-item('Соцсети:')
      .contact__soc
        a(href='#') VK
      .contact__soc
        a(href='#') FB

  .contact__map
    include ../map/_map
