include ./_project-info-mixin
.project-info
  .project-info__map-wrapper
    .project-info__text
      +project-info-item('Заказчики')
        | ООО «Новый элемент»
      +project-info-item('Адрес')
        | Санкт-Петербург, Петровский пр., 26
      +project-info-item('Проектирование')
        | 2017-2019 гг
      +project-info-item('Строительство')
        | С 2019 г. по наст. время
      +project-info-item('Площадь участка')
        | 1,2 Га
      +project-info-item('Площадь застройки')
        | 0,7 Га
      +project-info-item('Общая площадь')
        | 2 500 кв.м.
      +project-info-item('Этажность')
        | 8–9 этажей
      +project-info-item('Количество квартир')
        | 780

    .project-info__map
      include ../../map/_map

