include ./_project-info-mixin
.project-info
  +project-info-item('Руководитель авторского коллектива')
    | Евгений Львович Герасимов, Сергей Энверович Чобан
  +project-info-item('Главный архитектор проекта')
    | З.В. Петрова, Т.А. Комалдинова
  +project-info-item('Архитекторы')
    | Е.А. Резникова, И.Г. Бахорина, Н.П. Безбородова, А.Г. Гвоздик, Т.В. Кузнецова, О.В. Манов, М.Е. Орлова-Шейнер, О.В. Трунова, Д.С. Прудникова, Я.Е. Серебрякова (ООО «Евгений Герасимов и партнеры») #[br] В. Каширина, Ф. Шольц, П. Земсков (nps tchoban voss) #[br] В. Казуль, А. Перлич, С. Арутюнов, О. Берлянд, А.Боранбаева, М. Гришанов, Т. Жукова, А. Кабанов, А. Козырева, М. Кузнецкая, М. Кутовски, Ю. Лаврова, А. Лисицын, Т. Локтева, Т. Любимова, О. Никитина, А. Плотникова, Л. Панасенко, Е. Плужник, М. Рассказова, Е. Сенникова, К. Скуднова, А. Тычинина, А. Хмеленина, Я. Шестихина, С. Шилова (SPEECH)
  +project-info-item('Главный конструктор')
    | М.Я. Резниченко
  +project-info-item('Конструкторы')
    | С.В. Рыжова, А.А. Прокофьев, Н.В. Алексеева (руководители групп конструкторов) #[br] Д.А. Астапчик, Д.О. Григорьев, Е.А. Пантелеева, Е.Н. Пестова, Т.Р. Помазан, Т.Е. Смирнова, Н.В. Богданова, К.В. Иванова, А.Н. Рыбаков, Е.С. Яковлева, П.С. Култышев, И.Е. Андреев, Т.Р. Горшкалева, В.Ю. Антонов, С.В. Кучин
  +project-info-item('Инженерные разделы')
    | ООО «ЭДВАНС-И»
  +project-info-item('Главный инженер проекта')
    | Н.В. Гражданова
  +project-info-item('Фото')
    | Юрий Славцов
  +project-info-item('Макет')
    | «ГрадМакет»








