extends ../layout/main/_main

block title
  title Gerasimov

block body
  -var bodyClasses = 'no-logo'

append preload
  if locals.production

  else


block content
  include ../mixins/tabs/_tabs
  include ../mixins/header-lid/_header-lid
  +header-lid
    .mdc-tab-bar__wrapper.mdc-tab-bar__wrapper_center
      +tabs()(class='js-mdc-tab-bar-scroll')
        +tab-item-link('Мастерская','true')(class='js-scroll-link small-md' href='#workshop')
        +tab-item-link('Контакты','')(class='js-scroll-link small-md' href='#contacts')
        +tab-item-link('КОЛЛЕКТИВ','')(class='js-scroll-link small-md' href='#collective')
        +tab-item-link('Награды','')(class='js-scroll-link small-md' href='#awards')
        +tab-item-link('Сотрудничество','')(class='js-scroll-link small-md' href='#cooperation')
        +tab-item-link('Вакансии','')(class='js-scroll-link small-md' href='#job-openings')
  //-.mobile-menu__substrate-wrapper
    .mobile-menu__substrate.collapse
  .container
    include ../blocks/about/about/_about

  include ../blocks/award-list/_award-list
append scripts
  //.dlaverstki(style='display: none;display: block;position: absolute;top: -7px; left: 50%;transform: translateX(-50%);width: 1920px;z-index: 5000;opacity: .6;')
    img(src='./assets/img/test/ProjectPageCollective.png')
  //-.dlaverstki(style='display: none;display: block;position: absolute;top: 13px; left: 50%;transform: translateX(-50%);width: 1440px;z-index: 5000;opacity: .6;')
    img(src='./assets/img/test/Desktop2.png')


