extends ../layout/main/_main

block title
  title Gerasimov

block body
  -var bodyClasses = 'no-logo'

append preload
  if locals.production

  else


block content
  include ../mixins/tabs/_tabs
  include ../mixins/header-lid/_header-lid
  +header-lid
    .mdc-tab-bar__wrapper.mdc-tab-bar__wrapper_center
      +tabs()(class='js-mdc-tab-bar')
        +tab-item('Мастерская','true')(class='' href='#workshop')
        +tab-item('Контакты','')(class='' href='#contacts')
        +tab-item('КОЛЛЕКТИВ','')(class='' href='')
        +tab-item('Награды','')(class='' href='#awards')
        +tab-item('Сотрудничество','')(class='' href='#cooperation')
        +tab-item('Вакансии','')(class='' href='#job-openings')
  .container
    include ../blocks/about/about/_about


append scripts
  //.dlaverstki(style='display: none;display: block;position: absolute;top: -7px; left: 50%;transform: translateX(-50%);width: 1920px;z-index: 5000;opacity: .6;')
    img(src='./assets/img/test/ProjectPageCollective.png')
  //-.dlaverstki(style='display: none;display: block;position: absolute;top: 13px; left: 50%;transform: translateX(-50%);width: 1440px;z-index: 5000;opacity: .6;')
    img(src='./assets/img/test/Desktop2.png')


