extends ../layout/main/_main

block title
  title Gerasimov

block body
  -var bodyClasses = 'no-logo'

append preload
  if locals.production

  else


block content

  include ../blocks/front/_front-virtual
  script.
    var slidersDta = [
      {
        // desktop: '',
        desktop: './assets/img/front/front-1.png',
        mobile: './assets/img/front/front-1-m.png',
        href: '#',
        caption:'text 1'
      },
      {
        desktop: './assets/img/front/front-2.png',
        mobile: '',
        // mobile: './assets/img/front/front-2-m.png',
        href: '#',
        caption:'text 2'
      },
      {
        // desktop: '',
        desktop: './assets/img/front/front-3.png',
        mobile: './assets/img/front/front-3-m.png',
        href: '#',
        caption:'text 3'
      },
      {
        desktop: './assets/img/front/front-4.png',
        mobile: './assets/img/front/front-4-m.png',
        href: '#',
        caption:'text 4'
      },
      {
        desktop: './assets/img/front/front-2.png',
        mobile: '',
        // mobile: './assets/img/front/front-2-m.png',
        href: '#',
        caption:'text 5'
      },
      {
        desktop: './assets/img/front/front-2.png',
        mobile: '',
        // mobile: './assets/img/front/front-2-m.png',
        href: '#',
        caption:'text 6'
      },
      {
        desktop: './assets/img/front/front-2.png',
        mobile: '',
        // mobile: './assets/img/front/front-2-m.png',
        href: '#',
        caption:'text 7'
      },
    ]



append scripts
  //-.dlaverstki(style='display: none;display: block;position: absolute;top: 0px; left: 50%;transform: translateX(-50%);width: 1200px;z-index: 5000;opacity: .6;')
    img(src='./assets/img/test/about.png')
  //-.dlaverstki(style='display: none;display: block;position: absolute;top: 13px; left: 50%;transform: translateX(-50%);width: 1440px;z-index: 5000;opacity: .6;')
    img(src='./assets/img/test/Desktop2.png')


