extends ../layout/main/_main

block title
  title Gerasimov

block body
  -var bodyClasses = 'no-logo'

append preload
  if locals.production

  else


block content
  include ../mixins/header-lid/_header-lid
  +header-lid()
    h1.title.title_page Жилой комплекс на Петровском проспекте, 26
  .mobile-menu__substrate-wrapper
    .mobile-menu__substrate.collapse
  include ../blocks/project/project/_project



append scripts
  //.dlaverstki(style='display: none;display: block;position: absolute;top: -7px; left: 50%;transform: translateX(-50%);width: 1920px;z-index: 5000;opacity: .6;')
    img(src='./assets/img/test/ProjectPageCollective.png')
  //-.dlaverstki(style='display: none;display: block;position: absolute;top: 13px; left: 50%;transform: translateX(-50%);width: 1440px;z-index: 5000;opacity: .6;')
    img(src='./assets/img/test/Desktop2.png')


