include ../icon-svg/_icon-svg
mixin show-more-btn(href,caption)
  .show-more-btn__wrapper
    a.show-more-btn.btn.btn-bold.btn-icon(href=href)&attributes(attributes)
      span=caption
      +icon('arrow-down','')
