.header-lid {
  //padding-bottom: 20px;
  background-color: $white;
  z-index: 10;
  width: 100%;
  min-width: rem-calc(320);
  position: fixed;
  left: 0;
  top: 110px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: rem-calc(60);
  @include transition(box-shadow 0.15s, padding 0.15s, top 0.15s);

  &__substrate {
    height: rem-calc(45);
    margin-bottom: rem-calc(21);
  }

  &.head-effect {
    top: 88px;
    position: fixed;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  }

  .head-effect-up & {
    top: 0px;
    //padding: 7px 0 13px;
    .mdc-tab-bar__wrapper {
      margin-top: -9px;
    }
  }
}
