.btn {
  display: inline-flex;
  font-size: rem-calc(16);
  line-height: rem-calc(25);
  text-transform: uppercase;
  border: none;
  border-bottom: $btn-border-width solid;
  padding: 0;
  cursor: pointer;
  text-align: left;
  @include transition(color .15s, background-color .15s, border-color .15s);

  @include hover {
    border-bottom-color: transparent;
  }
  @include active {
    border-bottom-color: transparent;
  }

  &-not-upper {
    text-transform: none;
  }

  &-bold {
    font-weight: 700;
  }

  &-small {
    font-size: rem-calc(14);
    line-height: rem-calc(16);
    padding: rem-calc(0 0 6 0);
  }

  &-width-full {
    width: 100%;

    &-sm {
      @include media-breakpoint-down(sm) {
        min-width: rem-calc(240);
      }
    }
  }

  &-link {
    color: $black;
    @include transition(color .15s);

    .icon {
      fill: $black;
      @include transition(fill .15s);
    }

    @include hover {
      color: $orange;
      .icon {
        fill: $orange;
      }
    }

    @include active {
      color: $orange;
      .icon {
        fill: $orange;
      }
    }
  }

  &-icon {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    span {
      order: 1;
    }

    .icon {
      order: 2;
      margin-left: rem-calc(15);

      &-search {
        width: rem-calc(18);
        height: rem-calc(18);
      }

      &-arrow {
        &--left, &--right {
          width: rem-calc(9);
          height: rem-calc(14);
        }

        &-top, &-bottom {
          width: rem-calc(14);
          height: rem-calc(9);
        }
      }
    }

    &_i-first {
      span {
        order: 2;
      }

      .icon {
        order: 1;
        margin-right: rem-calc(15);

        &:not(.icon-show-off):not(.icon-show-on) {
          margin-left: auto;
        }
      }
    }
  }
}

.js-read-more-btn {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  fill: $black;

  span {
    display: block;
    margin-right: rem-calc(5);
  }

  .icon {
    width: rem-calc(14);
    height: rem-calc(9);
  }

  &.open {
    .icon {
      transform: rotate(180deg);
    }
  }
}
