// START: header
header(class="header")
  .container-full
    .header__row
      .header__col-logo
        include ../../blocks/header/header-logo/_header-logo
      .header__col-menu
        include ../../blocks/header/main-menu/_main-menu
        include ../../blocks/header/menu-btn/_menu-btn-slide
        //-include ../../blocks/header/menu-btn/_menu-btn-collapse
  //-include ../../blocks/header/mobile-menu/_mobile-menu-collapse
.header__substrate

// END: header
