include ../../../mixins/publication-item/_publication-item
//-category-press
//-category-library
.publications.js-grid-publications
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('','./publication-page.html','./assets/img/publication/','22.09.2018','Союз архитекторов провел публичные слушания по проекту расширения Литературно-мемориального музея Ф.М. Достоевского','','Читать далее')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('video','./publication-page.html','./assets/img/publication/publication-1.png','14.05.2019','Интервью Евгения Герасимова для проекта «Российская архитектура. Новая эра»','','Смотреть видео')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-2.png','','Tatlin Plan #29 Деловой квартал «Невская ратуша»','Новый выпуск Tatlin plan подробно рассказывает историю одного из наиболее масштабных проектов, реализованного за последние годы в центральной части Петербурга.','Купить журнал')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-3.png','','«Евгений Герасимов и партнеры. 1991-2016»','Каталог работ мастерской к 25-летию компании','Скачать PDF')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-4.png','22.09.2018','Tatlin Mono #13','Евгений Герасимов и партнеры 1998–2008','Открыть журнал')
  //-type,href,src,date,title,caption,link
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-2.png','','Tatlin Plan #29 Деловой квартал «Невская ратуша»','Новый выпуск Tatlin plan подробно рассказывает историю одного из наиболее масштабных проектов, реализованного за последние годы в центральной части Петербурга.','Купить журнал')
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-3.png','','«Евгений Герасимов и партнеры. 1991-2016»','Каталог работ мастерской к 25-летию компании','Скачать PDF')
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-4.png','22.09.2018','Tatlin Mono #13','Евгений Герасимов и партнеры 1998–2008','Открыть журнал')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('','./publication-page.html','./assets/img/publication/','22.09.2018','Союз архитекторов провел публичные слушания по проекту расширения Литературно-мемориального музея Ф.М. Достоевского','','Читать далее')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('video','./publication-page.html','./assets/img/publication/publication-1.png','14.05.2019','Интервью Евгения Герасимова для проекта «Российская архитектура. Новая эра»','','Смотреть видео')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-2.png','','Tatlin Plan #29 Деловой квартал «Невская ратуша»','Новый выпуск Tatlin plan подробно рассказывает историю одного из наиболее масштабных проектов, реализованного за последние годы в центральной части Петербурга.','Купить журнал')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-3.png','','«Евгений Герасимов и партнеры. 1991-2016»','Каталог работ мастерской к 25-летию компании','Скачать PDF')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-4.png','22.09.2018','Tatlin Mono #13','Евгений Герасимов и партнеры 1998–2008','Открыть журнал')
  //-type,href,src,date,title,caption,link
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-2.png','','Tatlin Plan #29 Деловой квартал «Невская ратуша»','Новый выпуск Tatlin plan подробно рассказывает историю одного из наиболее масштабных проектов, реализованного за последние годы в центральной части Петербурга.','Купить журнал')
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-3.png','','«Евгений Герасимов и партнеры. 1991-2016»','Каталог работ мастерской к 25-летию компании','Скачать PDF')
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-4.png','22.09.2018','Tatlin Mono #13','Евгений Герасимов и партнеры 1998–2008','Открыть журнал')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('','./publication-page.html','./assets/img/publication/','22.09.2018','Союз архитекторов провел публичные слушания по проекту расширения Литературно-мемориального музея Ф.М. Достоевского','','Читать далее')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('video','./publication-page.html','./assets/img/publication/publication-1.png','14.05.2019','Интервью Евгения Герасимова для проекта «Российская архитектура. Новая эра»','','Смотреть видео')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-2.png','','Tatlin Plan #29 Деловой квартал «Невская ратуша»','Новый выпуск Tatlin plan подробно рассказывает историю одного из наиболее масштабных проектов, реализованного за последние годы в центральной части Петербурга.','Купить журнал')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-3.png','','«Евгений Герасимов и партнеры. 1991-2016»','Каталог работ мастерской к 25-летию компании','Скачать PDF')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-4.png','22.09.2018','Tatlin Mono #13','Евгений Герасимов и партнеры 1998–2008','Открыть журнал')
  //-type,href,src,date,title,caption,link
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-2.png','','Tatlin Plan #29 Деловой квартал «Невская ратуша»','Новый выпуск Tatlin plan подробно рассказывает историю одного из наиболее масштабных проектов, реализованного за последние годы в центральной части Петербурга.','Купить журнал')
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-3.png','','«Евгений Герасимов и партнеры. 1991-2016»','Каталог работ мастерской к 25-летию компании','Скачать PDF')
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-4.png','22.09.2018','Tatlin Mono #13','Евгений Герасимов и партнеры 1998–2008','Открыть журнал')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('','./publication-page.html','./assets/img/publication/','22.09.2018','Союз архитекторов провел публичные слушания по проекту расширения Литературно-мемориального музея Ф.М. Достоевского','','Читать далее')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('video','./publication-page.html','./assets/img/publication/publication-1.png','14.05.2019','Интервью Евгения Герасимова для проекта «Российская архитектура. Новая эра»','','Смотреть видео')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-2.png','','Tatlin Plan #29 Деловой квартал «Невская ратуша»','Новый выпуск Tatlin plan подробно рассказывает историю одного из наиболее масштабных проектов, реализованного за последние годы в центральной части Петербурга.','Купить журнал')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-3.png','','«Евгений Герасимов и партнеры. 1991-2016»','Каталог работ мастерской к 25-летию компании','Скачать PDF')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-4.png','22.09.2018','Tatlin Mono #13','Евгений Герасимов и партнеры 1998–2008','Открыть журнал')
  //-type,href,src,date,title,caption,link
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-2.png','','Tatlin Plan #29 Деловой квартал «Невская ратуша»','Новый выпуск Tatlin plan подробно рассказывает историю одного из наиболее масштабных проектов, реализованного за последние годы в центральной части Петербурга.','Купить журнал')
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-3.png','','«Евгений Герасимов и партнеры. 1991-2016»','Каталог работ мастерской к 25-летию компании','Скачать PDF')
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-4.png','22.09.2018','Tatlin Mono #13','Евгений Герасимов и партнеры 1998–2008','Открыть журнал')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('','./publication-page.html','./assets/img/publication/','22.09.2018','Союз архитекторов провел публичные слушания по проекту расширения Литературно-мемориального музея Ф.М. Достоевского','','Читать далее')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('video','./publication-page.html','./assets/img/publication/publication-1.png','14.05.2019','Интервью Евгения Герасимова для проекта «Российская архитектура. Новая эра»','','Смотреть видео')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-2.png','','Tatlin Plan #29 Деловой квартал «Невская ратуша»','Новый выпуск Tatlin plan подробно рассказывает историю одного из наиболее масштабных проектов, реализованного за последние годы в центральной части Петербурга.','Купить журнал')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-3.png','','«Евгений Герасимов и партнеры. 1991-2016»','Каталог работ мастерской к 25-летию компании','Скачать PDF')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-4.png','22.09.2018','Tatlin Mono #13','Евгений Герасимов и партнеры 1998–2008','Открыть журнал')
  //-type,href,src,date,title,caption,link
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-2.png','','Tatlin Plan #29 Деловой квартал «Невская ратуша»','Новый выпуск Tatlin plan подробно рассказывает историю одного из наиболее масштабных проектов, реализованного за последние годы в центральной части Петербурга.','Купить журнал')
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-3.png','','«Евгений Герасимов и партнеры. 1991-2016»','Каталог работ мастерской к 25-летию компании','Скачать PDF')
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-4.png','22.09.2018','Tatlin Mono #13','Евгений Герасимов и партнеры 1998–2008','Открыть журнал')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('','./publication-page.html','./assets/img/publication/','22.09.2018','Союз архитекторов провел публичные слушания по проекту расширения Литературно-мемориального музея Ф.М. Достоевского','','Читать далее')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('video','./publication-page.html','./assets/img/publication/publication-1.png','14.05.2019','Интервью Евгения Герасимова для проекта «Российская архитектура. Новая эра»','','Смотреть видео')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-2.png','','Tatlin Plan #29 Деловой квартал «Невская ратуша»','Новый выпуск Tatlin plan подробно рассказывает историю одного из наиболее масштабных проектов, реализованного за последние годы в центральной части Петербурга.','Купить журнал')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-3.png','','«Евгений Герасимов и партнеры. 1991-2016»','Каталог работ мастерской к 25-летию компании','Скачать PDF')
  .publications__item.js-grid-publications-item(class='category-press' data-category='category-press')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-4.png','22.09.2018','Tatlin Mono #13','Евгений Герасимов и партнеры 1998–2008','Открыть журнал')
  //-type,href,src,date,title,caption,link
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-2.png','','Tatlin Plan #29 Деловой квартал «Невская ратуша»','Новый выпуск Tatlin plan подробно рассказывает историю одного из наиболее масштабных проектов, реализованного за последние годы в центральной части Петербурга.','Купить журнал')
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-3.png','','«Евгений Герасимов и партнеры. 1991-2016»','Каталог работ мастерской к 25-летию компании','Скачать PDF')
  .publications__item.js-grid-publications-item(class='category-library' data-category='category-library')
    +publication-item('img','./publication-page.html','./assets/img/publication/publication-4.png','22.09.2018','Tatlin Mono #13','Евгений Герасимов и партнеры 1998–2008','Открыть журнал')

