.publication-nav
  .publication-nav__item
    .publication-nav__labet Предыдущее
    .publication-nav__btn
      a(href='#').btn.btn-bold
        span Заголовок новости / события / публикации / интервью
  .publication-nav__item
    .publication-nav__labet Следующее
    .publication-nav__btn
      a(href='#').btn.btn-bold
        span Заголовок новости / события / публикации / интервью
