mixin person(link,src,title,position)
  .person&attributes(attributes)
    //-a(href=link).person__link
    .person__link
      .person__img
        .person__img-inner
          img(src=src)
      .person__title=title
      .person__position=position


