.gallery {
  margin-bottom: rem-calc(30);
  @include media-breakpoint-up(sm) {
    margin-bottom: rem-calc(60);
  }

  .swiper__wrapper {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .swiper {
    opacity: 0;

    &.swiper-container-initialized {
      opacity: 1;
    }
  }

  .container-full {
    @include media-breakpoint-only(xs) {
      position: static;
    }
    @include media-breakpoint-down(lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .container {
    //@include media-breakpoint-only(xs) {
    //  padding-left: 0;
    //  padding-right: 0;
    //}
  }

  .swiper-item {
    &__img {
      position: relative;
      width: 100%;
      height: rem-calc(224);
      @media (min-width: 33.75rem) {
        height: rem-calc(320);
      }
      @include media-breakpoint-up(sm) {
        height: rem-calc(620);
      }
      @include media-breakpoint-up(md) {
        height: rem-calc(620);
      }

      &-inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          display: block;
          @include transition(opacity .15s);

          &.swiper-lazy {
            opacity: 0;

            &.swiper-lazy-loaded {
              opacity: 1;
            }
          }

          @include media-breakpoint-up(sm) {
            object-fit: contain;
          }
        }
      }
    }
  }

  .swiper__button {
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
    }

    &-left, &-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: flex-end;
    }

    &-item {
      @include media-breakpoint-up(sm) {
        width: rem-calc(90);
        height: rem-calc(90);
      }
      &_fullscreen {
        @include media-breakpoint-down(md) {
          opacity: 0;
          pointer-events: none;
        }
      }

      &_list {
        @include media-breakpoint-down(md) {
          opacity: 0;
          pointer-events: none;
        }
      }

      &_fullscreen-close {
        display: none;
        position: absolute;
        right: rem-calc(20);
        top: rem-calc(20);
        z-index: 20;

        .icon {
          &-close {
            width: rem-calc(14);
            height: rem-calc(14);
          }
        }
      }
      &_dummy {
        width: rem-calc(60);
        height: rem-calc(180);
        @include media-breakpoint-up(sm) {
          width: rem-calc(90);
          height: rem-calc(270);
        }
        @include media-breakpoint-up(md) {
          width: rem-calc(90);
          height: rem-calc(270);
        }
      }
    }
  }
}

.gallery-list {
  background-color: $white;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  min-width: rem-calc(320);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  padding: rem-calc(20 0);
  @include media-breakpoint-up(sm) {
    padding: rem-calc(0 60);
  }
  @include media-breakpoint-up(md) {
    background-color: rgba($black, .2);
    padding: rem-calc(60);
  }

  &.delay {
    display: none
  }

  &.close {
    opacity: 0;
    visibility: hidden
  }

  &.open {
    z-index: 19;
    opacity: 0;
    animation: fadeInBlock ease-out 1;
    animation-fill-mode: forwards;
    animation-duration: .35s;
    animation-delay: 0s;

    .gallery-list__inner {
      opacity: 1
    }
  }

  &__inner {
    opacity: 0;
    will-change: opacity;
    transition: opacity .48s ease-out;
    background-color: $white;
    padding: rem-calc(20 20);
    min-height: 100%;
    @include media-breakpoint-up(sm) {
      padding: rem-calc(38 30);
    }
    @include media-breakpoint-up(md) {
      position: relative;
    }

    .container {
      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__close {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: rem-calc(50);
    height: rem-calc(50);
    position: absolute;
    right: rem-calc(0);
    top: rem-calc(0);
    z-index: 2;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
      right: rem-calc(20);
      top: rem-calc(20);
    }

    .icon {
      width: rem-calc(14);
      height: rem-calc(14);
      fill: $black;
    }

    &:hover {
      .icon {
        fill: rgba($black, .5);
      }
    }
  }

  &__row {
    @include make-row(20px);
    @media (min-width: 33.75rem) {
      @include make-row(40px);
    }
    @include media-breakpoint-up(sm) {
      @include make-row();
    }
  }

  &__item {
    @include make-col-ready(20px);
    @include make-col(5);
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
    @media (min-width: 33.75rem) {
      @include make-col-ready(40px);
      @include make-col(4, 12);
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(20);
    }
    @include media-breakpoint-up(sm) {
      @include make-col-ready();
      padding-top: rem-calc(42);
      padding-bottom: rem-calc(42);
      @include make-col(4, 12)
    }
    @include media-breakpoint-up(md) {
      @include make-col(3, 12)
    }
    @include media-breakpoint-up(lg) {
      @include make-col(2)
    }
  }

  &__link {
    display: block;
  }

  &__img {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 83.34%;

    &-inner {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}

@keyframes fadeInBlock {
  from {
    visibility: hidden;
    opacity: 0
  }

  to {
    visibility: visible;
    opacity: 1
  }
}

.list-view {
  overflow: hidden;

  body {
    position: fixed;
    width: 100%;
  }

  .project {
    z-index: 30;
    position: relative;
  }
}


.swiper {


  &__wrapper {
    background-color: $white;

    &[data-view="detail"] {
      background-color: $white;

      .container-full {
        max-height: 100%;
        height: 100% !important;
        background-color: $white;
        padding-top: rem-calc(70);
        padding-bottom: rem-calc(70);

        .container {
          max-height: 100%;
          height: 100% !important;
          background-color: $white;
        }
      }

      .swiper,
      .swiper-wrapper,
      .swiper-slide,
      .swiper-item,
      .swiper-item__img,
      .swiper__button-right,
      .swiper__button-left {
        max-height: 100%;
        height: 100% !important;
      }

      .swiper-item__caption,
      .swiper__button-item_dummy,
      .swiper__button-item_pagination,
      .swiper__button-item_fullscreen,
      .swiper__button-item_list {
        display: none;
      }

      .swiper__button-item_fullscreen-close {
        display: flex;
      }
    }
  }
}


