include ../../mixins/swiper-item/_swiper-item
include ../../mixins/icon-svg/_icon-svg
.gallery
  .swiper__wrapper
    //Slider main container
    .container-full
      .container
        .swiper.swiper-container.js-gallery
          //Additional required wrapper
          .swiper-wrapper
            //Slides
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/588x800','At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/1056x620','1 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/1100x620','2 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/930x620','3 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x1100','4 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/1260x620','5 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x620','6 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x620','7 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x620','8 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x620','9 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x620','10 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x620','11 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x620','12 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x620','13 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x620','14 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x620','15 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x620','16 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')
            .swiper-slide
              +swiper-item('img-lazy','https://via.placeholder.com/940x620','17 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.')



      //If we need navigation buttons

      .swiper__button
        .swiper__button-left
          .swiper__button-item.swiper__button-item_dummy
          .swiper__button-item.swiper__button-item_prev.js-swiper-button-prev
            +icon('arrow-left')
          .swiper__button-item.swiper__button-item_dummy
        .swiper__button-right
          .swiper__button-item.swiper__button-item_dummy
          .swiper__button-item.swiper__button-item_next.js-swiper-button-next
            +icon('arrow-right')
          .swiper__button-item.swiper__button-item_pagination
            .js-swiper-pagination
          .swiper__button-item.swiper__button-item_fullscreen.js-swiper-button-fullscreen
            +icon('fullscreen')
          .swiper__button-item.swiper__button-item_list.js-swiper-button-list-open
            +icon('list')
      //Add Scrollbar
      .swiper__scrollbar-wrapper
        .swiper__scrollbar.swiper-scrollbar.js-swiper-scrollbar
      .gallery-list.js-gallery-list.delay
        .gallery-list__inner
          .gallery-list__close.js-swiper-button-list-close
            +icon('close','')
          .container
            .gallery-list__row
    .swiper__button-item.swiper__button-item_fullscreen-close.js-swiper-button-fullscreen-close
      +icon('close')
