.vacancy {
  &__item {
    &:not(:last-child) {
      margin-bottom: rem-calc(20);
      @include media-breakpoint-up(sm) {
        margin-bottom: rem-calc(40);
      }
    }
  }

  &__addres {
    font-size: rem-calc(16);
    line-height: rem-calc(25);
  }
}

.vacancy-item {
  &__title {
    font-weight: bold;
    font-size: rem-calc(16);
    line-height: rem-calc(25);

    a {
      display: inline-flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      //border-bottom: 1px solid;

      &.collapsed {
        .icon {
          transform: rotate(0deg);
        }
      }

      @include media-breakpoint-up(sm) {
        pointer-events: none;
        //border-bottom: none;
        color: $link-hover-color;
        .icon {
          display: none;
        }
      }
    }

    span {
      display: block;
      font-weight: bold;
      margin-right: rem-calc(5);
    }

    .icon {
      display: block;
      width: rem-calc(14);
      height: rem-calc(9);
      transform: rotate(180deg);
    }
  }

  &__body {
    overflow: hidden;

    &.collapse:not(.show) {
      @include media-breakpoint-up(sm) {
        display: block;
      }
    }
  }
}
