.swiper-container {
  overflow: inherit;

  &.swiper-container-initialized {
    overflow: hidden;
  }

  .swiper-wrapper {
    //align-items: center;
    //align-content: center;
  }

}

.swiper {


  &__wrapper {
    position: relative;
    margin-bottom: rem-calc(40);
    @include media-breakpoint-up(md) {
      margin-left: rem-calc(-30);
      margin-right: rem-calc(-30);
      padding-left: rem-calc(30);
      padding-right: rem-calc(30);
    }
  }


  &__button {

    &-left {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: rem-calc(40);
      height: 100%;

      @include media-breakpoint-up(sm) {
        width: rem-calc(60);
        left: 0;
      }
      @include media-breakpoint-up(sm) {
        width: rem-calc(90);
      }
      @include media-breakpoint-up(xl) {
        left: rem-calc(52);
      }

      .gallery & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media-breakpoint-up(sm) {
          height: rem-calc(800);
        }
        @include media-breakpoint-up(md) {
          height: rem-calc(620);
        }
      }
    }

    &-right {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: rem-calc(40);
      height: 100%;
      @include media-breakpoint-up(sm) {
        width: rem-calc(60);
        right: 0;
      }
      @include media-breakpoint-up(md) {
        width: rem-calc(90);

      }
      @include media-breakpoint-up(xl) {
        right: rem-calc(52);
      }

      .gallery & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media-breakpoint-up(sm) {
          height: rem-calc(800);
        }
        @include media-breakpoint-up(md) {
          height: rem-calc(620);
        }
      }
    }

    &-item {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      text-align: center;
      outline: none !important;
      cursor: pointer;
      background: none;
      width: rem-calc(40);
      height: rem-calc(40);
      color: $black;
      font-size: rem-calc(16);
      font-weight: 400;
      line-height: rem-calc(20);
      background-color: $white;
      @include media-breakpoint-up(sm) {
        background-color: transparent;
        width: rem-calc(60);
        height: rem-calc(60);
      }
      @include media-breakpoint-up(md) {
        width: rem-calc(90);
        height: rem-calc(90);
      }

      .icon {
        fill: $black;
        @include transition(fill .15s);
      }


      &[aria-disabled='true'] {
        fill: rgba($black, .5);
      }

      &_dummy {
        width: rem-calc(60);
        height: rem-calc(180);
        @include media-breakpoint-up(md) {
          width: rem-calc(90);
          height: rem-calc(270);
        }
      }

      &_next {

      }

      &_prev {

      }

      &_pagination {
        cursor: inherit;
      }

      &_fullscreen {

      }

      &_list {

      }

      &:hover {

        .icon {
          fill: $link-hover-color;
        }
      }

      &:active {

        .icon {
          fill: $link-hover-color;
        }
      }
    }


    .icon {
      &-arrow-left {
        width: rem-calc(11);
        height: rem-calc(20);
      }

      &-arrow-right {
        width: rem-calc(11);
        height: rem-calc(20);
      }

      &_pagination {

      }

      &-fullscreen {
        width: rem-calc(16);
        height: rem-calc(16);
      }

      &-list {
        width: rem-calc(90);
        height: rem-calc(90);
      }

      &-close {
        width: rem-calc(14);
        height: rem-calc(14);
      }
    }
  }
}

.swiper-container-horizontal ~ .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: rem-calc(0 10);
}


.js-swiper {
  .swiper-slide {
    opacity: 0;
  }

  &.swiper-container-initialized {
    .swiper-slide {
      opacity: 1;
    }
  }
}
