.swiper-item {


  &__video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    background-color: $black;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &__img {
    width: 100%;

    &-inner{
      img {
        display: block;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  &__caption {
    color: $black;
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: rem-calc(20);
    text-align: center;
    padding: rem-calc(15 0);
  }
}

.swiper-slide {
  height: auto;

  .swiper-container-initialized & {
    height: 100%;
  }

  .swiper-container-autoheight.swiper-container-initialized & {
    height: auto;
  }
}
