{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.0.0",
        "targets": {
          "esmodules": true,
          "ie": "11"
        }
      }
    ]
  ],
  "parserOpts": {
    "plugins": [
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-transform-spread"
    ]
  }
}
