.footer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: rem-calc(20);
  padding-top: rem-calc(20);
  line-height: rem-calc(16);
  margin-top: rem-calc(-$footer-height-sm);
  min-height: rem-calc($footer-height-sm);
  @include media-breakpoint-up(sm) {
    line-height: rem-calc(20);
    margin-top: rem-calc(-$footer-height);
    min-height: rem-calc($footer-height);
  }

  &__row {
    @include make-row(40px);
    @include media-breakpoint-up(sm) {
      @include make-row();
    }
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    @include media-breakpoint-up(xl) {
      align-items: center;
    }
  }

  &__col {
    @include make-col-ready(40px);
    @include make-col(5);
    @include media-breakpoint-up(sm) {
      @include make-col-ready();
    }
    @include media-breakpoint-up(lg) {
      @include make-col(5, 12)
    }

    &_lg {
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
        @include make-col(2, 12)
      }
    }

    &_pride {
      display: flex;
      flex-direction: column;
      @include media-breakpoint-up(xl) {
        flex-direction: row-reverse;
      }
    }
  }

  &__search-btn {
    font-size: rem-calc(11);
    line-height: rem-calc(13);
    text-transform: uppercase;
    color: $link-hover-color;

    @include media-breakpoint-up(sm) {
      font-size: rem-calc(14);
      line-height: rem-calc(16);
    }

    &:hover {
      color: $link-color;
    }
  }

  &__copy {
    font-size: rem-calc(13);
    line-height: rem-calc(13);
    text-align: center;
    color: rgba($black, .4);
    @include media-breakpoint-up(sm) {
      font-size: rem-calc(16);
      line-height: rem-calc(20);
    }

    &_pride {
      position: relative;
      text-align: right;
      color: rgba($black, .4);
      white-space: nowrap;
      margin-top: rem-calc(30);
      display: flex;
      justify-content: flex-end;

      a {
        color: rgba($black, .4);
        @include transition(color .15s);

        &:hover {
          color: rgba($black, 1);
        }
      }

      @include media-breakpoint-up(xl) {
        padding-right: rem-calc(40);
        margin-right: rem-calc(40);
        margin-top: 0;
        &:after {
          content: '|';
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          width: rem-calc(2);
          height: rem-calc(16);
          font-size: rem-calc(11);
          line-height: rem-calc(16);
          transform: translateX(-50%);
          color: $black;
          @include media-breakpoint-up(sm) {
            width: rem-calc(4);
            height: rem-calc(20);
            font-size: rem-calc(14);
            line-height: rem-calc(20);
          }
        }
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-end;

    &-item {
      padding-left: rem-calc(20);
      padding-right: rem-calc(20);
      position: relative;
      @include media-breakpoint-up(sm) {
        padding-left: rem-calc(40);
        padding-right: rem-calc(40);
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &:not(:first-child) {
        &:after {
          content: '|';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: rem-calc(2);
          height: rem-calc(16);
          font-size: rem-calc(11);
          line-height: rem-calc(16);
          transform: translateX(-50%);
          @include media-breakpoint-up(sm) {
            width: rem-calc(4);
            height: rem-calc(20);
            font-size: rem-calc(14);
            line-height: rem-calc(20);
          }
        }
      }
    }
  }
}
