// START: footer

footer.footer
  .container-full
    .footer__row
      .footer__col
        a(href='./search.html').footer__search-btn Поиск
      .footer__col.footer__col_lg
        .footer__copy ©1991–2019
      .footer__col.footer__col_pride
        .footer__links
          .footer__links-item
            include ../../blocks/footer/footer-language/_footer-language
          .footer__links-item
            include ../../blocks/footer/footer-soc/_footer-soc
        .footer__copy.footer__copy_pride разработка Сайта — #[a(href='#' target='_blank') PRIIIDE.DIGITAL]

// END: footer
