include ../../../mixins/icon-svg/_icon-svg
include ../../../mixins/page-el/_page-el
include ../project-press/_project-press



.project-description
  +page-el('Описание')
    .wysiwyg
      p Жилой комплекс располагается на Петровском острове, на берегу реки Малая Нева, в непосредственной близости от исторической застройки Петроградской стороны и Васильевского острова.
      p #[strong Проект условно разбит на 3 очереди:]
      p К первой очереди относится прямоугольный корпус (№ 2), который выходит южным фасадом на Малую Неву и формирует ее набережную, а также линейный корпус (№ 1), составленный из четырех зданий с проходами, формирующий застройку вдоль Петровского проспекта. Здания объединены подземным стилобатом, в котором располагается автостоянка. Еще один односекционный корпус располагается внутри квартала. Рядом с ним находится детский сад.
      div#read-more-block(style='display:none')
        p Фасад корпуса 2 спускается террасами по направлению к Малой Неве. Через арку можно попасть в благоустроенный двор, свободный от машин, а оттуда – в квартиры. Ещё одна, видовая арка, обращена в сторону реки. Этажность всего комплекса - 6-7-8 этажей. Северный фасад корпуса 1 выделяет скатная кровля с окнами-велюксами и акцентированными люкарнами, характерными для исторической застройки Санкт-Петербурга. Объемы лестничных клеток скрыты за металлическими решетками с узорной перфорацией. Корпус 3 запроектирован с видовыми террасами, которые подчеркивают неоднородный по высоте силуэт застройки. Общий для всех трех корпусов 1 очереди ритм задает чередование текстур и цветов керамической отделки фасада. Вторая очередь состоит из одного 12-секционного прямоугольного в плане корпуса с закрытым благоустроенным двором. Южный фасад восьмиэтажного здания спускается к Неве двумя террасами. Окна объединены в 4 пояса по 2 этажа высотой. Хаотичный ритм цветов и геометрии задает игру с масштабом, облегчая визуальное восприятие большого объема строения. Первые два корпуса 3-й очереди формируют красную линию Петровского проспекта и Петровской площади соответственно. В дугообразном фасаде второго корпуса пробита арка по оси улицы Савиной. Внутриквартальный проход ведет к воде и формирует ось симметрии: вдоль него попарно стоят еще 6 односекционных корпусов.
        p Формирующие проспект и площадь корпуса решены в строгом, минималистичном стиле. Это относится к цветовой гамме и выбору архитектурного декора. Все три очереди объединены в единый архитектурный ансамбль с помощью материала (это терракота) и общих архитектурных приемов. В то же время разнообразные детали придают отдельным зданиям индивидуальность и локальную идентичность.
      a(href='#read-more-block').js-read-more-btn
        span Читать дальше
        +icon('arrow-down','')
  +page-el('Пресса о проекте')
    +project-press
      +project-press-item('27.02.2019','Воля к разнообразию','Читать на сайте archi.ru')
      +project-press-item('10.10.2018','Я работаю в «Невской ратуше»','Читать на сайте the-village.ru')
      //-+project-press-item('10.10.2018','Я работаю в «Невской ратуше»','Читать на сайте the-village.ru')

  +page-el('Награды проекта')
    .wysiwyg
      p Диплом международного фестиваля «Зодчество» в номинации «Архитектурные произведения 2016-2018 г. Постройки. Жилые многоквартирные здания».
      p Диплом проекта «Качественная архитектура» 2018 «За творческий вклад в создание качественной российской архитектуры».
      p Диплом победителя первого архитектурно-дизайнерского конкурса «Золотой Трезини» в номинации «Лучший проект жилого комплекса премиум- или бизнес- класса» в категории «Архитектура как искусство.
      p Серебряный знак международного фестиваля «Зодчество». Архитектурные произведения 2016-2018 г. Проекты. Жилые многоквартирные здания.
      p Бронзовый диплом смотра Санкт- #[br] Петербургского союза архитекторов России «Архитектон» #[br] в номинации «Проекты» — «Здание или комплекс с преимущественно жилой функцией».
  +page-el()
    include ../project-next/_project-next

