include ../../../mixins/icon-svg/_icon-svg
.menu-btn__wrapper
  button.menu-btn.js-menu-btn.menu-btn_collapse.collapsed(data-toggle="collapse" href="#menu" role="button" aria-expanded="false" aria-controls="menu")
    span Меню
    +icon('close','')
