mixin page-block
  .page__el&attributes(attributes)
    block
.page
  .container-midle
    .page__top
      h1.page__title Союз архитекторов провел публичные слушания по проекту расширения Литературно-мемориального музея Ф.М. Достоевского
      .page__date 22.09.2018
    +page-block
      .wysiwyg
        p В Санкт-Петербургском Доме архитектора 27 сентября 2018 г. прошло заседание Совета по архитектурному и историческому наследию Санкт-Петербургского Союза архитекторов. На нем была детально представлена концепция расширения Литературно-мемориального музея Ф.М. Достоевского. Заседание провел архитектор Р.М. Даянов.
    +page-block
      .page__lid Слушания были публичными и открытыми для всех желающих.
    +page-block(class='page__el-img')
      .page__image
        img(src='./assets/img/page-1.png')
        span Подпись к фотографии
      .wysiwyg
        p Глава архитектурной мастерской «Евгений  Герасимов и партнеры» Е.Л. Герасимов  представил детальную концепцию проекта.  Он подчеркнул, что несмотря на то, что  планировки нового здания подробно  проработаны, архитектурная концепция  является предварительной – в том числе и  потому, что, несмотря на все  договоренности, земельный участок под  строительство до сих пор не выделен.
        p Являясь также соучредителем Фонда  поддержки и развития Музея Ф.М.  Достоевского «Петербург Достоевского», г-н Герасимов сообщил, что на счет Фонда поступает множество пожертвований, что позволило уже сейчас расселить квартиру № 36, находящуюся на одной лестнице с мемориальной квартирой писателя. Это стало первым практическим шагом на пути к реализации проекта расширения Музея.

    +page-block
      .wysiwyg
        p В своем вступительном слове директор Музея Ф.М. Достоевского Н.Т. Ашимбаева еще раз описала стесненные обстоятельства, в которых на данный момент существует музей всемирно известного писателя. Она особо отметила недоступность музея для маломобильных групп населения, отсутствие удобной входной зоны, нехватку площадей для хранения фондов. По ее словам, необходимость расширения назрела давно.
    +page-block(class='page__el-img')
      .page__image
        img(src='./assets/img/page-1.png')
        span Подпись к фотографии
      .wysiwyg
        p Говоря о внешнем облике здания,  архитектор подчеркнул, что музей XXI века  не может имитировать жилую застройку  XVIII-XIX веков, и привел множество  примеров современной европейской  музейной архитектуры. Он сообщил, что  фасад здания будет выполнен в  натуральном камне с элементами из  патинированной меди, что гармонирует с  окружающей застройкой.
        p После представления концепции было задано  множество вопросов от представителей СМИ,  градозащитных организаций и неравнодушных горожан. Несмотря на отдельные сомнения,  проект получил положительную оценку подавляющего большинства собравшихся.
        p Напомним, что идея расширения Музея Ф.М. Достоевского за счет соседнего пустующего  участка по Кузнечному переулку впервые возникла в 2016 году. В конце 2017 года был  создан Фонд поддержки и развития Музея «Петербург Достоевского», соучредителями которого стали Евгений Герасимов, глава архитектурной мастерской «Евгений Герасимов и партнеры», Наталья Ашимбаева, директор музея Достоевского, и Андрей Якунин, меценат, отвечающий за привлечение проектного финансирования. Владислав Смирнов назначен исполнительным директором Фонда.

    +page-block
      .wysiwyg
        p Подробности мероприятия на сайте #[a(href='#') Urban Awards 2015]
  .container
    include ../../blocks/publication-nav/_publication-nav
    //разделяю страници визуально(не на букенд)
    hr
    //новая страница
  .container-midle
    .page__top
      h1.page__title  «Зодчество-2019»: три проекта, пять наград
      .page__date 22.09.2019
    +page-block
      .wysiwyg
        p В субботу 19 октября в Москве подвели итоги международного фестиваля «Зодчество».
    +page-block(class='page__el-img')
      .page__image
        img(src='./assets/img/page-2.png')
      .wysiwyg
        p Концепция расширения Музея Достоевского получила Золотой знак и диплом в номинации «Проекты — Объект социального и культурного назначения». Это высшая награда в данной номинации, и для нас она особенно дорога, так как означает высокую оценку проекта профессиональным сообществом.

    +page-block(class='page__el-img page__el-img_first ')
      .page__image
        img(src='./assets/img/page-2.png')
      .wysiwyg
        p Еще одна награда мастерской на фестивале — серебряный знак и диплом в номинации «Постройки — многоквартирные жилые здания». Её получил жилой комплекс «Русский дом» (Басков переулок, 5).
    +page-block
      .wysiwyg
        p Номинация «Фильмы об архитектуре» появилась на «Зодчестве» впервые. Мы благодарим Павла Гнилорыбова и Алексея Солнышкова за сотрудничество. Если вы не видели фильм — самое время посмотреть.
        p Фестиваль-конкурс «Зодчество» проводится в 27-й раз. Он учрежден российским Союзом архитекторов. Это высшая архитектурная награда в стране.
  .container
    include ../../blocks/publication-nav/_publication-nav
    //разделяю страници визуально(не на букенд)
    hr
    //новая страница
  .container-midle
    .page__top
      h1.page__title  Евгений Герасимов: «Мы добиваемся ясности замысла  и качественного его воплощения»
      .page__date 26.10.2017
    +page-block
      .wysiwyg
        p В портфолио команды Евгения Герасимова – внушительный диапазон типологий, стилей и масштабов: для многих задач архитекторам бюро удается удается найти баланс прагматизма и элегантности, сложности и лаконизма, традиции и современности. И вне зависимости от стилистики проекта – добиться замечательного качества исполнения, по-видимому, заражая заказчика и подрядчика собственным восторгом от работы с различными материалами, формами, технологиями и эффектами. Качество решений, заявленных в проекте и реализованных на стройке, становится тем ключом, который помогает бюро «Евгений Герасимов и партнеры» входить в группу лидеров на рынке проектных услуг Санкт-Петербурга, города более чем требовательного ко всему, что касается его имиджа и сохранения традиций, пусть даже в новом, адаптированном к современным потребностям, формате.
        //-p Евгений Герасимов, #[br] партнер архитектурного бюро «Евгений Герасимов и партнеры»:
        //-p «Для меня качественная архитектура – это и качество градостроительного замысла, и качество замысла отдельного здания, качество проработки функции, все, вплоть до деталей. Триаду «Польза, прочность, красота» никто не отменял. Прочность, подразумеваемая априори, ответ на заданную функцию постройки и качество ее воплощения – это и есть качество архитектуры.
        //-p Если вам интересно рассматривать здание с расстояния и 500 метров, и 20 метров, и двух метров. Еще лучше, если хочется потрогать его, почувствовать на ощупь. Мне кажется, это свидетельствует о качестве архитектуры. Здание, которое вызывает интерес на одну секунду, когда мимо него проезжаешь на автомобиле, – этого недостаточно. Здание должно быть интересным на разных уровнях восприятия. В идеале здание должно быть таким, чтобы его захотелось нарисовать.
        //-p Если квартиры в доме целиком распроданы или здание полностью заполнено арендаторами, это значит, что его функция продумана, и оно хорошо работает. Это тоже качество здания.
        //-p В замысле я, прежде всего, ценю ясность. Он должен быть очень простым и очень понятным, чтобы его не нужно было объяснять. За неясностью слова – неясность мысли, говорил Чехов. Поэтому все должно быть как можно более просто, как можно более понятно и как можно более качественно выполнено.
        //-p В своих проектах мы пытаемся добиться именно простоты, ясности замысла и максимально качественного их воплощения.
        //-p Уверен, что архитектурного качества можно добиться и в современных российских условиях. Но про некоторые свои проекты я не сказал бы, что мы его добились. Как в кино, чтобы фильм получился хорошим, должно совпасть всё: бюджет, работа продюсера, режиссера, оператора, актеров, монтажеров, звукооператоров, водителей и персонала на площадке. То же самое в архитектуре. Должно быть, прежде всего – желание заказчика. Соответственно, не борьба с архитектором, а синхронная работа. Соответствующий бюджет, потому что дешево и хорошо в архитектуре не бывает. Исключения, как обычно, только подтверждают правила. Необходимы также качественная работа проектировщиков и строителей. Когда и заказчик, и проектировщик, и строитель нацелены именно на качество, тогда, если все три вектора совпадают и они в одном направлении, тогда может получиться и получается качественное здание».
        //-p #[a(href='https://archi.ru/russia/76274/evgenii-gerasimov-vse-dolzhno-byt-kak-mozhno-bolee-prosto-kak-mozhno-bolee-ponyatno-i-kak-mozhno-bolee-kachestvenno-vypolneno') https://archi.ru/russia/76274/evgenii-gerasimov-vse-dolzhno-byt-kak-mozhno-bolee-prosto-kak-mozhno-bolee-ponyatno-i-kak-mozhno-bolee-kachestvenno-vypolneno]
        p Видео версия
        .wysiwyg__video
          iframe(width="560" height="315" src="https://www.youtube.com/embed/ZhPAqvQZ3CI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  .container
    include ../../blocks/publication-nav/_publication-nav
