include ../../../mixins/icon-svg/_icon-svg
mixin footer-soc-list-item(icon,src)
  li.footer-soc__list-item
    a(href=src).footer-soc__list-link
      span=icon
//-+icon(icon,'')
.footer-soc
  ul.footer-soc__list
    +footer-soc-list-item('fb','#')
    +footer-soc-list-item('vk','#')
    +footer-soc-list-item('ig','#')
