.header-logo {

  &__link {
    display: inline-flex;
    align-items: center;
    align-content: center;
    padding: rem-calc(4 0);
  }

  &__ico {
    margin-right: rem-calc(8);
    min-width: rem-calc(26);

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__lid {
    max-width: rem-calc(252);
    @include media-breakpoint-only(xs){
      max-width: rem-calc(200);
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
}
