include ../../../mixins/project-item/_project-item
//-category-all
//-category-residential
//-category-public
//-category-urban-planning
.projects.js-grid-projects
  .projects__item.js-grid-projects-item(class='category-residential' data-category='category-residential')
    +project-item('./project-page.html','./assets/img/projects/project-1.png','Название примерно на две строчки Название примерно на две строчки ')
  .projects__item.js-grid-projects-item(class='category-residential category-public category-urban-planning' data-category='category-residential category-public category-urban-planning')
    +project-item('./project-page.html','./assets/img/projects/project-2.png','Во всех вкладках')
  .projects__item.js-grid-projects-item(class='category-public' data-category='category-public')
    +project-item('./project-page.html','./assets/img/projects/project-3.png','Название очень длинное, может даже больше чем три строчки Название очень длинное, может даже больше чем три строчки')
  .projects__item.js-grid-projects-item(class='category-public' data-category='category-public')
    +project-item('./project-page.html','https://files.adme.ru/files/news/part_70/709560/6418210-001_aliev_dronov_blogspot_com_1600-1000-a542d8629a-1484578180.jpg','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-urban-planning' data-category='category-urban-planning')
    +project-item('./project-page.html','./assets/img/projects/project-5.png','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-urban-planning' data-category='category-urban-planning')
    +project-item('./project-page.html','https://design-mate.ru/upload/images/post/post_937.jpg','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-urban-planning' data-category='category-urban-planning')
    +project-item('./project-page.html','https://annawwts.com/wp-content/uploads/2019/09/IMG_8289-.jpg','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-public' data-category='category-public')
    +project-item('./project-page.html','./assets/img/projects/project-8.png','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-public' data-category='category-public')
    +project-item('./project-page.html','./assets/img/projects/project-1.png','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-urban-planning' data-category='category-urban-planning')
    +project-item('./project-page.html','./assets/img/projects/project-2.png','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-residential' data-category='category-residential')
    +project-item('./project-page.html','./assets/img/projects/project-3.png','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-residential' data-category='category-residential')
    +project-item('./project-page.html','./assets/img/projects/project-4.png','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-residential' data-category='category-residential')
    +project-item('./project-page.html','./assets/img/projects/project-5.png','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-urban-planning' data-category='category-urban-planning')
    +project-item('./project-page.html','./assets/img/projects/project-6.png','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-residential' data-category='category-residential')
    +project-item('./project-page.html','./assets/img/projects/project-7.png','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-public' data-category='category-public')
    +project-item('./project-page.html','./assets/img/projects/project-8.png','Музей Достоевского')
  .projects__item.js-grid-projects-item(class='category-public' data-category='category-public')
    +project-item('./project-page.html','./assets/img/projects/project-1.png','Музей Достоевского')
