include ../../../mixins/project-item/_project-item
.projects.js-grid-projects
  .projects__item.projects__item_search.js-grid-projects-item
    +project-item('./project-page.html','https://via.placeholder.com/540x450','Музей Достоевского')(class='project-item_search')
  .projects__item.projects__item_search.js-grid-projects-item
    +project-item('./project-page.html','./assets/img/projects/project-2.png','Музей Достоевского')(class='project-item_search')
  .projects__item.projects__item_search.js-grid-projects-item
    +project-item('./project-page.html','./assets/img/projects/project-3.png','Музей Достоевского')(class='project-item_search')
  .projects__item.projects__item_search.js-grid-projects-item
    +project-item('./project-page.html','./assets/img/projects/project-4.png','Музей Достоевского')(class='project-item_search')

