//- main layout

block data

doctype html
html(class="no-js" lang="ru")
  head
    include ../../includes/head/_head

  block body
    -var bodyClasses

  body(class=bodyClasses)
    .wrapper
      include ../../includes/header/_header
      main.wrapper__content

        block content
    //--mobile-menu-slide
      include ../../blocks/header/mobile-menu/_mobile-menu-slide
    include ../../includes/footer/_footer


    block scripts
      //script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR8P72HMX3zllKeeZt8X89dJWMEu0LSX8&callback=myMap" async defer)
      if locals.production
        script(src="assets/js/app.js")
      else
        script(src="./assets/js/app.js")

